body {
    display: grid;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    font-size: 34px;
    padding: 30px;   
    text-align: center;
}

p {
    width: 50%;
    margin: 0 auto;
}

.unlock_code {
    display: grid;
}

input, #unlock {
    justify-self: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 3px gray;
}

input {
    display: block;
    width: 300px;
    font-size: 24px;
}

#unlock {
    width: 300px;
}

#print {
    margin: 20px auto;
}

.result {
    margin: 10px 0;
}