.background {
    background-color: #282c34;
    color: white;
    height: 100vh;
    overflow: scroll;
}

.App {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */

    max-width: 700px;
    margin: auto;
    height: 100%;
}

.App-header {
    text-align: center;
    /* font-size: calc(10px + 3vmin); */
    font-size: 31px;
    margin: 20px 0;
}

.align-right {
    text-align: right;
}

.center_form {
    margin: 0 auto;
}

.btn {
    outline: none;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 768px) {
    .App {
        width: 80%;
    }

    .align-right {
        text-align: left;
    }
}
